.inline{
  align-self: stretch;
}

.app-reference
{
  background-color:transparent;
  margin: 10px;
  float: left;
}

.social-media-reference
{
  background-color:transparent;
  margin: 10px;
  float: right;
}

#googleMap{
  grid-column: span 3;
  background-color:transparent;
  padding: 20px;
  height: 379.23px;
  align-self: stretch;
}

img{
  margin: 10px 0px 10px 10px;
}


.grid-item {
  background-color:transparent;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.grid-container-contact {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: transparent;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  bottom: 0;
  left: 0;
}

.unstyled-list{
  text-align: left;
  color: black;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin: 50px 0px 0px 0px;
  list-style-type: none;
}

.section-header{
  text-align: left;
}

h4{
  color: black;
  display: inline-block; 
  text-decoration: underline;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

}

h3{
  color: black;
  text-align: left;
  margin: 0px 0 50px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
}

h1{
  color: black;
  display: inline-block; 
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 86px;
  color: #000000;
}

h5{
  color: #A0A0A0;
  font-size: 14px;
  line-height: 17px;
}

p{
  color: black;
  text-align: left;
}


.last-artlicle {
  margin: 30px 30px 30px 0;
  position: relative;
  max-width: 580px;
  float: initial;
}

.artlicle {
  margin: 30px 30px 30px 0;
  position: relative;
  float: left;
  max-width: 580px;
}

.download-item{
  cursor: pointer;
  margin: 50px 50px 50px 0;
  position: relative;
  max-width: 300px;
  float: left;
}

.contacts{
  margin: 50px 50px 50px 0;
  position: relative;
  max-width: 800px;
  float: left;
}