

.navbar {
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  width: 70%;
  height: 50px;
  background: rgba(0,0,0,7);
}
.button-accent {
  display: flex;
  justify-content: center;
}

.navbar ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

.navbar ul li {
  font-size: 1rem;
  margin: 0 0.5rem;
  padding: 0.5rem;

}

.navbar ul li a {
  font-family: TT Travels;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  word-wrap: n;
  display: flex;
  align-items: flex-end;
  
  color: #000000;
  white-space: pre;
}

.navbar ul li a:hover {
color: black;
}

section {
  display: inline-flex;;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  text-align: center;
  width: 100%;
  scroll-snap-align: center;
  padding: 70px 15px 0px 15px;
}

section#home{
  background: transparent;
}
section#radio-waves {
  background: url(../assets/frequency-bg.svg) no-repeat top ;
  background-size: auto;
  height: 776px;
}
section#programs {
  background: transparent ;
}
section#compains {
  background: url(../img/compains.jpg) no-repeat center center/cover;
  
}
section#about {
  background: transparent ;
}
section#commercial {
  background: transparent ;
}
section#contact {
  background: transparent ;
}

section#listen {
  background: url(../img/listen.jpg) no-repeat center center/cover;
}

section#adv-contact-section{
  background: url(../img/backgroundReklam.png) no-repeat top ;
  padding: 0px 0px 0px 0px;
}
