.grid-item-app-reference
{
  background-color:transparent;
  position: relative;
 
}

.grid-item-social-media
{
  background-color:transparent;
  position: right;
  margin: 10px;
  align-self: flex-end;
  justify-items: end;
}

.grid-columns-span-3 {
  grid-column: span 3;
  background-color:transparent;
  padding: 20px;
  height: 379.23px;
  align-self: stretch;
}

img{
  margin: 10px;
}

.grid-container-contact {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: transparent;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  bottom: 0;
  left: 0;
}
.grid-item {
  background-color:transparent;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
